@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8fafc;
    color: #0f172a;
    top: 0px !important; /* Prevents push down from translation banner */
}

/* Google Translate Customization */
.goog-te-banner-frame {
    display: none !important;
}
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
/* Prevent hover events on translated text from causing flashing */
font {
    pointer-events: none !important;
    background-color: transparent !important;
}
#goog-gt-tt, .VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
    display: none !important;
}
body {
    top: 0px !important;
}
.goog-te-gadget {
    color: transparent !important;
    font-size: 0px !important;
}
.goog-te-gadget .goog-te-combo {
    color: black !important;
    font-size: 14px !important;
    padding: 4px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}
